<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Registration portal</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<script src="script.js" type="text/javascript"></script>
</head>
<body>
    <header>
        <h2>Kazeem and Tade Registration Portal</h2>
        <div class="Register">
            <a href="/register">Register</a>
        </div>
        <div class="Login">
            <a href="/login">Login</a>
        </div>
    </header>

    <main>
        <article>
            <h4>Task: WebServer using Docker</h4>
            <p>Docker is a popular container technology for hosting services and 
                applications that virtualizes operating systems and builds 
                lightweight containers. You will create a default base image for 
                this project that other developers can use in their production 
                environments. This project offers the framework for web app 
                images in Python, Ruby, and Meteor.</p>

            <p>On successful completion of this project, you will be able to reduce 
                the size of the Dockerfile, shorten the time it takes to write a 
                Dockerfile. Also, you will learn to correctly setup the base system 
                and reduce the amount of time it takes to run docker build and the 
                download time..</p>
            
            <h4>Solution:</h4>

			<p>
				In this task, the prefered application of interest is a registration portal that 
                collects user data first visit the website and stores the data in a database. 
                The user can then later login with its credentials to on other visits to the 
                website.  
			</p>

			<p>
				Because this task is focused on Docker deployment for devops tasks, major we 
                security would not be taken into account during the course of building this 
                website. there is not need for user passsword to be hashed during 
                registration. The main focus is to successfully deploy the webserver using 
                docker.
			</p>

			<p>
				To complet this task, the following tools will be used to complet this task:
			</p>
			<ol >
				<li>Python Programming Language</li>
				<li>Flask Web Framework</li>
				<li>MySQL database</li>
				<li>Docker</li>
			</ol>
        </article>
    </main>
    <footer>
        <h2>Footer &copy 2022</h2>
    </footer>

</body>
</html>