<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h2>Kazeem and Tade Registration Portal</h2>
        <div class="home">
            <a href="/">Home</a>
        </div>
    </header>
    <main>
        <center><p>oops!!!
              Login was unsuccessful. <br>Email or password not valid!!!</p></center> 
    </main>
    <footer>
        <h2>Footer &copy 2022</h2>
    </footer>

</body>
</html>